# Project untracked files/patterns

# Andrew's local untracked files/patterns
dependencies/update_dependency_lists.sh
notes bda450.txt
update_dependency_lists.py
clean/cleaning_notebook.ipynb
clean/names.txt
data/buoy_all_data.xlsx
data/OneDrive_1_3-4-2023.zip
clean/name_join.ipynb
clean/names.txt
clean/new names.txt
clean/name_dict_pairs.txt
clean/clean_lab.ipynb
clean/clean_demo.ipynb
